<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="" style="text-align: center;">
        <img src="https://media.istockphoto.com/id/1220217893/photo/blood-donation-concept.jpg?s=170667a&w=0&k=20&c=RZm0EpmvInv04cIwHAGdz9gaNbvJ326RTITg2c4oi54=" height="655px" width="100%">
        <h1 style="color: rgb(3, 54, 54);margin-top: 60px;margin-top: -560px;"><u>Update Donater's Details</u>:-</h1>

        <form action="" method="post">
            <h3>Old Name:- <input type="text" name="name" /><br>
            Age:- <input type="number" name="age" /><br>
            Gender:- <input type="radio" name="gender" value="Male"/>Male <input type="radio" name="gender" value="Female"/>Female <input type="radio" name="gender" value="other"/>Other<br>
            Blood Group:- <select name="bloodgroup" />
                <option>A+</option>
                <option>A-</option>
                <option>B+</option>
                <option>B-</option>
                <option>O+</option>
                <option>O-</option>
                <option>AB+</option>
                <option>AB-</option>
            </select><br>
            Mobile no:- <input type="number" name="mobileno" /></h3><br>
            <button class="btn btn-warning">Update Detail</button>
        </form><br/>
        <p style="color: rgb(155, 41, 41);"><u>For viewing Updated Details click below</u>:-</p>
        <button class="btn btn-dark"><a href="showhome" style="color: blanchedalmond;">Show Details</a></button>
    </div>
</body>
</html>